.git
.gitignore

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv


data/processed/*.xml

results/
.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db
Dockerfile
.dockerignore
docker-compose.yml
docs/
*.md
!README.md
